# python -m venv psicare-env
# pip install -r .\requirements.txt

Django
django-environ # Environment Variables
django-authtools # Better Base User
django-phonenumber-field[phonenumberslite] # International Phone Number Field
django-currentuser # Get Logged User